@import url(fontawesome-all.min.css);

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #1A1A1D;
    --bg-secondary: #1A1A1D;
    --transition-speed: 600ms;
  }


/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
} */

body{
    background: #1A1A1D;
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

#parallax{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parallax h2{
    position: relative;
    color: whitesmoke;
    font-size: 12em;
}

#parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* scroll bar*/
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
body::-webkit-scrollbar-track {
    background: #1A1A1D;
  }
  
body::-webkit-scrollbar-thumb {
    background: #6f2232;
  }
  

  /*Nav Bar Section*/
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: auto;
    z-index: 1; /*Extra added for clickable links*/
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #6f2232;
  }
  
  .fa-secondary {
    color: red;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 1079px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }

    #parallax h2{
        font-size: 5em;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }

    /*Asteroid*/
    #Sec1{
      height: auto;
      width: auto;
      flex-direction: column;
    }

    #Sec1 .imgBx{
      padding: 0;
      width: 100% !important;
      height: 300px;
    }

    /*Dino-Jump*/
    #Sec2{
      height: auto;
      width: auto;
      flex-direction: column;
    }

    #Sec2 .imgBx{
      padding: 0;
      width: 100% !important;
      height: 300px;
      
    }

    
    #Sec2 .details{
      background: #eeeeee;
    }

    /*Battle ships*/

    #Sec3{
      height: auto;
      width: auto;
      flex-direction: column;
    }

    #Sec3 .imgBx{
      padding: 0;
      width: 100% !important;
      height: 300px;
      
    }

    #Sec3 .details{
      background: #0f3168;
    }

    /*Commom container attributes*/
    .container .details{
      width: 100% !important;
      height: 60%;
    }
  
    .container .details h1{
      font-size: 2em !important;
      line-height: .8em;
    }
  
    .container .details p{
      font-size: 0.8em !important;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 1080px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }

    #Sec1{
      height: auto;
    }
    #Sec1 #Game1 .imgBx{
      width: 100%;
    }

    #Sec1 #Game1 .imgBx img{
      width: 100%;
      content:url("Asteroids_landscape.png");
      padding:0;
      box-sizing: border-box;
    }

    .container .details{
      width: 100%;
    }
  
    .container .details h1{
      font-size: 3em;
      line-height: .8em;
    }
  
    .container .details p{
      font-size: 0.8em;
    }
  

  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #1A1A1D;
    --bg-secondary: #1A1A1D;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }

  /* This is Asteroid section */
  #Sec1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    color: white;
    background: #6f2232;
    position: relative;
    flex-wrap: wrap;
  }

  #Sec1 .imgBx{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    content:url("Asteroids_portrait.jpg");
  }

  .container .details{
    width: 50%;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .container .details h1{
    font-size: 8em;
  }

  .container .details p{
    font-size: 1em;
  }

  .container .details a{
    padding:25px 10px;
    text-decoration: none;
    color: white;
  }

  /*This is dino jump section*/
  #Sec2{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    color: black;
    position: relative;
    flex-wrap: wrap;
    background:#eeeeee;
  }

  #Sec2 .imgBx{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    content:url("dino_portrait.jpg");
    background: white;
  }

  #Sec2 .details a{
    color:black;
  }

  /*This is battle ship section*/
  #Sec3{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    color: #d84709;
    background: #15538f;
    position: relative;
    flex-wrap: wrap;
  }

  #Sec3 .imgBx{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    content:url("batt.jpg");
  }

  #Sec3 .details a{
    color:#d84709;
  }